@import 'base/reset.css';

.wrapper{
    display: flex;
    width: 100svw;
    height: 100svh;
    overflow: hidden;
}

.container{
    padding: 24px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.table{
    overflow-y: scroll;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
}

.modal{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 80%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
}
textarea{
    width: 600px;
}

.delete{
    color: red !important;
    cursor: pointer;
}
.addForm{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}